.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.main .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.listContainer {
  display: flex;
}

.listContainer li {
  list-style: none;
}

.listContainer ul {
  border: 1px solid var(--color-cinza-middle);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
  padding: 0.8rem 0;
  min-width: 80vw;
  border-radius: 7px;
  background-color: var(--color-cinza-light);
}
.listButton {
  border: none;
  opacity: 0.5;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.listButton:hover {
  opacity: 1;
}

.carrinho {
  position: absolute;
  top: 6.1rem;
  right: 10.5%;
  cursor: pointer;
}

.qtdeCart {
  position: absolute;
  top: 90px;
  right: 9.4%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;

  background-color: green;
  border: 2px solid rgb(7, 201, 7);
  border-radius: 100%;

  color: white;
  font-size: 12px;
  font-weight: 600;
}
